.all {
font-size: 14px;
}
button {
    background-color: aqua;
}
a {
    text-decoration: none;
}
h1 {
    color: tomato;
    line-height: 32px;
}
ul {
    margin: 0px;
    padding: 0px;
}
h3 {
    margin-bottom: 20px;
}
h2 {
    font-size: 16px;
}
p {
    color: violet;
}
.list-item {
    position: relative;
}
.footer {
    background-color: yellow;
}
.module {
    min-height: 375px;
}
header {
    max-width: 100%;
}
.logo {
    width: 100px;
}
.about_us {
    max-width: 60%;
}
.luxe {
    background-color: yellow;
}
.vine {
    height: 50%;
}